<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new dog</title>
</head>
<body>
    <h1>add a dog to our pet shelter 🐾</h1>

    <form action="/dogs/create" method="post">
        <p>name</p>
        <input name="name">

        <p>age</p>
        <input type="number" name="age">

        <p>breed</p>
        <input name="breed">

        <p>color</p>
        <input name="color">

        <p></p>
        <button>Submit</button>
    </form>
</body>
</html>