<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one dog</title>
</head>
<body>
    <h2>here is your doggo: 🐕</h2>
    {{this_dog.name}} is a cool {{this_dog.breed}} and they have {{this_dog.list_of_awards|length}} awards
    <hr>
    <h4>all the awards {{this_dog.name}} has</h4>

    {% for one_award in this_dog.list_of_awards :%}
        <li>{{one_award.title}}</li>
    {% endfor %}
</body>
</html>